<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Safeguard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Safeguard.Properties.Settings.ConnectionString" connectionString="Data Source=db2.lan.naftan.by;Initial Catalog=Safeguard;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <Safeguard.Properties.Settings>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LoginsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LoginLast" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionServerName" serializeAs="String">
                <value>db2.lan.naftan.by</value>
            </setting>
            <setting name="ConnectionDatabaseName" serializeAs="String">
                <value>Safeguard</value>
            </setting>
            <setting name="SettingsDirectory" serializeAs="String">
                <value>Safeguard</value>
            </setting>
        </Safeguard.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
